<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (c) 2024 General Motors GTO LLC.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-FileType: SOURCE
 *
 * SPDX-FileCopyrightText: 2023 General Motors GTO LLC
 * SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="uprotocol.permission.ACCESS_UBUS"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.UCoreService">

        <service
            android:name=".UCoreService"
            android:permission="uprotocol.permission.ACCESS_UBUS"
            android:singleUser="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="uprotocol.action.BIND_UBUS"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="uprotocol.entity.name"
            android:value="ustreamer_glue" />
        <meta-data
            android:name="uprotocol.entity.version"
            android:value="1" />
    </application>
</manifest>
