<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (c) 2024 General Motors GTO LLC.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-FileType: SOURCE
 *
 * SPDX-FileCopyrightText: 2023 General Motors GTO LLC
 * SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="uprotocol.permission.ACCESS_UBUS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorldService">
        <service
            android:name="org.eclipse.uprotocol.example.uphelloworldsrv.HelloWorldService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true">
            <meta-data
                android:name="uprotocol.entity.name"
                android:value="example.hello_world" />
            <meta-data
                android:name="uprotocol.entity.version"
                android:value="1" />
            <intent-filter>
                <action android:name="org.eclipse.uprotocol.example.uphelloworldsrv.HelloWorldService" />
            </intent-filter>
        </service>
    </application>

</manifest>